* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px 200px 100px;
    
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    flex: 1;
}

li, a {
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: #3882f6;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 16px;
}

#header-img {
    width: 500px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 10px;
}

.title-text {
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 25px;
    font-weight: bold;
    border-radius: 15px;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
    color: #1f2937;
}

/* section 2 css */

.img-small {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: #3882f6 solid 5px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 200px 100px;
    gap: 100px;
    
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.img-container {
    display: flex;
    gap: 35px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: center;
    width: 250px;
    margin-top: 10px;
}

/* testimonial css */

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 200px 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.handle {
    align-self: flex-end;
    font-weight: bold;
    font-size: 26px;
}

/* sign up css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px 100px;
}

.signup-box {
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    padding: 40px 100px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.signup-title {
    color: #f9faf8;
    font-size: 20px;
    font-weight: bolder
}

.signup-info {
    color: #f9faf8;
}

.btn2 {
    border: 1px solid #e5e7eb;
}